In [1]:
import pandas as pd
df = pd.read_excel('FinanceData.xlsx')

In [2]:
df.to_csv('FinanceData.csv', index=False)

In [3]:
df = pd.read_csv('FinanceData.csv')

In [4]:
df.head()

,Company,Year,Total_Revenue,Net_Income,Total_Assets,Total_Liabilities,Cash_Flow_Operations
0,Microsoft,2024,245122,88136,512163,243686,136162
1,Microsoft,2023,211915,72361,411976,205753,118548
2,Microsoft,2022,198270,72738,364840,198298,87582
3,Tesla,2024,97690,7153,122070,48390,14923
4,Tesla,2023,96773,14974,106618,43009,13256

In [5]:
df.tail()

,Company,Year,Total_Revenue,Net_Income,Total_Assets,Total_Liabilities,Cash_Flow_Operations
4,Tesla,2023,96773,14974,106618,43009,13256
5,Tesla,2022,81462,12587,82338,36440,14724
6,Apple,2024,391035,93736,364980,308030,118254
7,Apple,2023,383285,96995,352583,290437,110543
8,Apple,2022,394328,99803,352755,302083,122151

In [6]:
# Sort properly
df = df.sort_values(by=["Company", "Year"])

# Select your financial metrics
metrics = ['Total_Revenue', 'Net_Income', 'Total_Assets', 
           'Total_Liabilities', 'Cash_Flow_Operations']

# Calculate YoY for each metric
for metric in metrics:
    df[f"{metric}_YoY_%"] = df.groupby("Company")[metric].pct_change() * 100

In [7]:
df.fillna(0, inplace=True)

In [8]:
df.to_csv("financial_data_with_yoy.csv", index=False)

In [10]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total_Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net_Income'].pct_change() * 100

In [13]:
import pandas as pd


# Calculate year-over-year growth rates for Total Revenue and Net Income
df['Revenue Growth (%)'] = df.groupby('Company')['Total_Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['Net_Income'].pct_change() * 100

# Fill NA values that result from pct_change calculations with 0 or an appropriate value
df.fillna(0, inplace=True)

# Display the dataframe to verify the calculations
print(df)

# Optionally, you could summarize these findings for each company
summary = df.groupby('Company').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

print("\nYear-over-Year Average Growth Rates (%):")
print(summary)

     Company  Year  Total_Revenue  Net_Income  Total_Assets  \
8      Apple  2022         394328       99803        352755
7      Apple  2023         383285       96995        352583
6      Apple  2024         391035       93736        364980
2  Microsoft  2022         198270       72738        364840
1  Microsoft  2023         211915       72361        411976
0  Microsoft  2024         245122       88136        512163
5     Tesla   2022          81462       12587         82338
4     Tesla   2023          96773       14974        106618
3     Tesla   2024          97690        7153        122070

   Total_Liabilities  Cash_Flow_Operations  Total_Revenue_YoY_%  \
8             302083                122151             0.000000
7             290437                110543            -2.800461
6             308030                118254             2.021994
2             198298                 87582             0.000000
1             205753                118548             6.882030
0             243686                136162            15.669962
5              36440                 14724             0.000000
4              43009                 13256            18.795267
3              48390                 14923             0.947578

   Net_Income_YoY_%  Total_Assets_YoY_%  Total_Liabilities_YoY_%  \
8          0.000000            0.000000                 0.000000
7         -2.813543           -0.048759                -3.855232
6         -3.359967            3.516052                 6.057424
2          0.000000            0.000000                 0.000000
1         -0.518299           12.919636                 3.759493
0         21.800417           24.318650                18.436183
5          0.000000            0.000000                 0.000000
4         18.964010           29.488207                18.026894
3        -52.230533           14.492862                12.511335

   Cash_Flow_Operations_YoY_%  Revenue Growth (%)  Net Income Growth (%)
8                    0.000000            0.000000               0.000000
7                   -9.502992           -2.800461              -2.813543
6                    6.975566            2.021994              -3.359967
2                    0.000000            0.000000               0.000000
1                   35.356580            6.882030              -0.518299
0                   14.858117           15.669962              21.800417
5                    0.000000            0.000000               0.000000
4                   -9.970117           18.795267              18.964010
3                   12.575438            0.947578             -52.230533

Year-over-Year Average Growth Rates (%):
     Company  Revenue Growth (%)  Net Income Growth (%)
0      Apple           -0.259489              -2.057837
1  Microsoft            7.517331               7.094040
2     Tesla             6.580948             -11.088841

In [1]:
import pandas as pd

# Load dataset
data = pd.read_csv("financial_data_with_yoy.csv")

def chatbot_response(user_input):
    user_input = user_input.lower()

    # Find company
    companies = data['Company'].unique()
    company = next((c for c in companies if c.lower() in user_input), None)

    # Find year
    years = data['Year'].unique().astype(str)
    year = next((y for y in years if y in user_input), None)

    # Find metric
    metrics = {
        "revenue": "Total_Revenue",
        "net income": "Net_Income",
        "assets": "Total_Assets",
        "liabilities": "Total_Liabilities",
        "cash flow": "Cash_Flow_Operations",
        "revenue growth": "Total_Revenue_YoY_%",
        "net income growth": "Net_Income_YoY_%",
        "asset growth": "Total_Assets_YoY_%",
        "liabilities growth": "Total_Liabilities_YoY_%",
        "cash flow growth": "Cash_Flow_Operations_YoY_%"
    }
    metric = next((col for key, col in metrics.items() if key in user_input), None)

    if company and year and metric:
        row = data[(data['Company'].str.lower() == company.lower()) & (data['Year'] == int(year))]
        if not row.empty:
            value = row.iloc[0][metric]
            return f"{company} {metric.replace('_',' ')} in {year} is {value:,}"
        else:
            return "I couldn't find that record."
    else:
        return "Please ask like: 'What is Apple's revenue in 2023?'"

# ðŸš€ Example usage
queries = [
    "What is Apple revenue in 2023?",
    "Show me Microsoft net income 2024",
    "Tesla assets in 2022"
]

for q in queries:
    print("You:", q)
    print("Chatbot ðŸ¤–:", chatbot_response(q))
    print()

You: What is Apple revenue in 2023?
Chatbot ðŸ¤–: Apple Total Revenue in 2023 is 383,285

You: Show me Microsoft net income 2024
Chatbot ðŸ¤–: Microsoft Net Income in 2024 is 88,136

You: Tesla assets in 2022
Chatbot ðŸ¤–: Tesla  Total Assets in 2022 is 82,338